@using WEB.Models;
@model IEnumerable<Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="get" action="@Url.Action("Index", "Producto")" class="form-inline">
                <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre" value="@Request.QueryString["nombre"]" />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="col-md-4">
            <form method="get" action="@Url.Action("Index", "Producto")" class="form-inline">
                <input type="text" name="descripcion" class="form-control" placeholder="Buscar por Descripción" value="@Request.QueryString["descripcion"]" />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="col-md-4">
            <form method="get" action="@Url.Action("Index", "Producto")" class="form-inline">
                <input type="text" name="categoria" class="form-control" placeholder="Buscar por Categoría" value="@Request.QueryString["categoria"]" />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>

    </div>
</div>

<div class="mt-3" style="margin-top: 1rem; margin-bottom: 1rem; display: flex; gap: 6px">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary text-white mt-3" })
    <form method="get" action="@Url.Action("Index", "Producto")">
        <input type="hidden" name="orden" value="@((Request.QueryString["orden"] ?? "asc") == "asc" ? "desc" : "asc")" />
        <button type="submit" class="btn btn-primary">
            Cambiar Orden
        </button>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index", "Producto", new { ordenPor = "nombre" })">
                @Html.DisplayNameFor(model => model.Nombre)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            <a href="@Url.Action("Index", "Producto", new { ordenPor = "categoria" })">
                @Html.DisplayNameFor(model => model.Categoria)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td style="position: relative;">
                <img src="@item.Imagen"
                     alt="Imagen del producto"
                     style="max-width: 100px; max-height: 100px; transition: transform 0.3s ease; position: relative; z-index: 1;"
                     onmouseover="this.style.transform='scale(3)'; this.style.zIndex='10';"
                     onmouseout="this.style.transform='scale(1)'; this.style.zIndex='1';" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
<a href="@Url.Action("Index", "Producto", new { page = i, nombre = ViewBag.Nombre, descripcion = ViewBag.Descripcion, categoria = ViewBag.Categoria, orden = ViewBag.Orden, ordenPor = ViewBag.OrdenPor })" class="btn btn-link @(i == ViewBag.CurrentPage ? "disabled" : "")">
    @i
</a>}
</div>
